body{
	text-align: center   !important;
	background-color:#BC243C !important;
	background-color:white !important;

}
.progress{
}
.sideNav{
	background-color:#034F84 !important;
	color:white           !important;
	height:100vh;
}
.sideNav h1{
	font-size: 72px;
	margin-bottom: 40px;
}
#selectSs{
	margin:60px         !important;
}
.disabled{
	cursor: not-allowed;
}
canvas#baseLayer{
	margin-top: 80px;
	width:600px;
	height:450px;

}
input[type="file"] {
    display: none;
}
label{
	cursor: pointer;
	background-color: white;
	color:#034F84;
	padding:6px 8px;
	border-radius: 4px;
	margin-bottom: 50px;
}
label:hover{
	text-decoration:underline;
}